@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

.conteudo {
    display: flex;
    justify-content: center;
    margin: 1.8rem;
}

.conteudo__apresentacao{
    display: flex;
    flex-direction: column;
}
.conteudo__apresentacao__fotoDecod{
    width: 3rem;
    height: 3rem;
    
}

.conteudo__apresentacao__leitorDeTexto {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    border: none;
    margin-top: 10%;
    background-color: #E5E5E5;
}
.conteudo__apresentacao__botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 68%;
}
.conteudo__apresentacao__botoes__imagemETexto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 272px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2%;
}

.conteudo__apresentacao__botoes__doisBotoes{
    display: flex;
    flex-direction: row;
}

.conteudo__apresentacao__botoes__botaoCriptografar {
        height: 67px;
        width: 328px;
        padding: 24px;
        font-size: 1rem;
        color: white;
        border-radius: 1.5rem;
        background-color: darkblue;
}

.conteudo__apresentacao__botoes__botaoDescriptografar {
    height: 67px;
    width: 328px;
    padding: 24px;
    font-size: 1rem;
    color: darkblue;
    border-radius: 1.5rem;
    background-color: #D8DFE8;
    margin-left: 1.5rem;
}

.imagemDeAlerta{
    width: 0.75rem;
    height: 0.75rem;
}

.conteudo__criptografado{
    width: 30%;   
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0px 0px 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    height: 43.2rem;
}

.conteudo__criptografado__imagemGaroto{
    width: 21rem;
    height: 19rem;
}

.conteudo__criptografado_paragrafo{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;;
}

.conteudo__criptografado_titulo{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.botaoColar {
    display: none;
    height: 4.2rem;
    width: 19.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    color: darkblue;
    border-radius: 1.5rem;
    background-color: white;
    margin: 2.5rem;
}

.rodape{
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: darkblue;
    color: white;
}

@media (max-width: 1000px) {
    .conteudo__criptografado__imagemGaroto{
        display: none;
    }
    .conteudo{
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }
    .conteudo__apresentacao__botoes {
        
        margin-top: 50%;
    }
    .conteudo__criptografado{
        width: 100%;   
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0px 0px 1px black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        height: 20.2rem;
    }
}